body {
	margin: 0 auto;
	outline: none;
	background-color: #f4f4f4 !important;
}

header {
	width: 100%;
	height: 630px;
	background: url('images/banner.jpg');
    background-size: cover;
    color: #eee;
    background-attachment: fixed;
}

.header-content {
	width: 100%;
	height: 630px;
	display: table;
}

header h1 {
	width: 500px;
	margin: 0;
	border-bottom: 2px solid  #ffffff;
 	font-weight: 200;
	font-family: 'Pacifico', cursive;
	font-size: 70px;
	padding: 0 0 40px 0 !important;
	display: inline-block;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

header p {
	padding: 30px 0 0 0 !important;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	color: #eee;
	letter-spacing: 4.5px;
	font-size: 13px;
}

header p a {
	text-decoration: none;
	color: #eee;
	border-bottom: 1px dotted #eee;
	transition: color 0.2s ease, border-bottom-color 0.2s ease;
	cursor: default;
}

header p a:hover {
	color: #EF6480;
	border-bottom: none;
}

.main {
	width: 1024px;

}

.introduce {
	width: 100%;
	height: 520px;
	background: #fff;
	display: inline-block;
	margin: 70px 0;
	text-align: center;
}

.icon-diamond {
	font-size: 70px;
	color: #666;
}

.border-diamond {
	border: 2px solid #666;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 50px auto;
}

.introduce h2 {
	font-family: "Source Sans Pro", sans-serif;
	color: #444;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 50px 0 0 0;
}

.introduce p.text {
	font-family: "Source Sans Pro", sans-serif;
	color: #444;
	font-weight: 100;
	font-size: 17px;
	margin: 50px 0 0 0;
}

.button {
	font-family: "Source Sans Pro", sans-serif;
	color: #444;
	text-transform: uppercase;
	letter-spacing: 5px;
	border: 1px solid #444;
	border-radius: 3px;
	padding: 10px;
	margin: 50px 0;
	display: inline-block;
}

a.button {
	text-decoration: none;
	transition: color 0.2s ease, border-bottom-color 0.2s ease;
}

a.button:hover {
	color: #EF6480;
	border-color: #EF6480;
	text-decoration: none;
}